.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.link svg{
  color: var(--ifm-color-svg);
}

.link:hover {
  opacity: 0.8;
}
